.App {
  text-align: center;
}

h1 {
  background-color: #3b1b5b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
h4{
  color:#3b1b5b;
}
/* ques{
  flex-direction:row;
  align-items: right;
  justify-content: center;
} */